{% extends 'base.html' %}
{% load static %}

{% block title %}
Notes - List
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/notes.css' %}">
{% endblock %}

{% block content %}
<div>
    <div>
        <h1>Your Notes</h1>
        <a href="#">Create a New Note</a>
    </div>

    {# note list #}
    {%  for note in note_list %}
        <div class="note">
            <h4>{{ note.title }}</h4>
            <label for="">{{ note.created_on }}</label>
            <p>{{ note.text|truncatechars:100 }}</p>
        </div>
    {% endfor %}

</div>
{% endblock %}