{% extends 'base.html' %}
{% load static %}

{% block title %}
	Login
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}
	<div class="login">
        <h1>Welcome!</h1>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-dark">Login</button>
        </form>

        <hr>

        <label class="question">Do you need an account?</label>
        <label for="" class="signup-link"><a href="{% url 'signup' %}">Click here to sign up</a></label>
    </div>
{% endblock %}